# fly.toml app configuration file generated for backend-old-glitter-6811 on 2025-11-16T20:03:27Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'backend-old-glitter-6811'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
